.active{
  @apply relative;
  
  &:after{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background: #0898a0;
    border-radius: 50%;
    bottom: -10px;
    left: 40%;
  }
  
};
.rise-container:hover .rise{
  cursor: pointer;
}
.circle{
  @apply absolute w-[6px] h-[6px] rounded-full bg-primary right-[-10px];
}

.rise{
  transition:  5s ease-in;
  transform: translateY(300%);
  cursor: pointer;

}
.fall{
  transition:  1s ease-in-out;
  transition-delay: 3s;
  transform: translateY(0%);
  cursor: pointer;
  animation: top 1s;
}

@keyframes top {
  0%{
  transform: translateY(350%);
  transition-duration: 3s;
  }
  100%{
  transform: translateY(0%);
 

  }
}

/* the slides */
// .slick-slide {
//   margin: 0 10px;
// }
// /* the parent */
// .slick-list {
//   margin: 0 -10px;
// }

.slick-list {margin: 0 -10px;}
.slick-slide>div {padding: 0 10px;}